<% include ./../helper/show-menu-user%>
<% include ./../helper/social-link%>

<%
const uploadPath = '/uploads/article/'
const uploadPathLogo = '/uploads/config/'
const uploadPathAvatar = '/uploads/users/'

const url = `/${systemConfigs.prefixNews}/`;

const cleanedURL = url.replace(/\/+/g, '/');

%>

<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <a href="<%=cleanedURL%>about" class="left-topbar-item">
                        About
                    </a>

                    <a href="<%=cleanedURL%>contact" class="left-topbar-item">
                        Contact
                    </a>

                    <%- showMenuUser(userInfo) %>
                    
                </div>

                <div class="right-topbar">
                    <%- socialLinkHelper(configInfo) %>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->		
            <div class="logo-mobile">
                <a href="<%=cleanedURL%>"><img src="<%=uploadPathLogo + configInfo[0].info.logo %>" alt="IMG-LOGO" width="200" height="100"></a>
            </div>
            <% if (userInfo && Object.keys(userInfo).length > 0) { %>
                <div class="logo-mobile text-right">
                <% if (userInfo.groups.groups_acp == 'yes') { %>
                    <a href="/<%= systemConfigs.prefixAdmin%>/users/form/<%=userInfo.id%>"><img src="<%=uploadPathAvatar + userInfo.avatar %>" alt="IMG-LOGO" width="200" height="100"></a>
                <% } else { %>
                    <a href="/<%= systemConfigs.prefixAdmin%>/auth/no-permission"><img src="<%=uploadPathAvatar + userInfo.avatar %>" alt="IMG-LOGO" width="200" height="100"></a>
                <% } %>
                </div>
            <% } %>
        
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="left-topbar">    
                </li>
            
                <li class="left-topbar">
                    <a href="<%=cleanedURL%>about" class="left-topbar-item">
                        About
                    </a>
            
                    <a href="<%=cleanedURL%>contact" class="left-topbar-item">
                        Contact
                    </a>
            
                    <%- showMenuUser(userInfo) %>

                </li>
            
                <li class="right-topbar">
                    <%- socialLinkHelper(configInfo) %>
                </li>
            </ul>
        
            <ul class="main-menu-m">
                <li>
                    <a href="<%=cleanedURL%>">Home</a>
                  

                </li>
                <% itemsCategory.forEach((item, index) => { %>	
                <li>
                    <a href="<%=cleanedURL%>category/<%= item.id%>"><%= item.name%></a>
                </li>
           
                <% }) %>
                <li>
                    <a href="<%=cleanedURL%>about">Đặc tính</a>
                    <ul class="sub-menu-m">
                        <li><a href="<%=cleanedURL%>about">About Us</a></li>
                        <li><a href="<%=cleanedURL%>contact">Contact Us</a></li>
                    </ul>
            
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </div>
        
        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->		
            <div class="logo">
                <a href="<%=cleanedURL%>"><img src="<%=uploadPathLogo + configInfo[0].info.logo %>" alt="LOGO" width="200" height="100"></a>
            </div>	
            <% if (userInfo && Object.keys(userInfo).length > 0) { %>
                <div class="logo text-right circle-image-container">
                <% if (userInfo.groups.groups_acp == 'yes') { %>
                    <a href="/<%= systemConfigs.prefixAdmin%>/users/form/<%=userInfo.id%>" class="mr-3"  data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="<%=uploadPathAvatar + userInfo.avatar %>" alt="LOGO" width="200" height="100"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/<%= systemConfigs.prefixAdmin%>/users/form/<%=userInfo.id%>"><strong style="text-align: right;"><%=userInfo.name%></strong></a>
                            <a class="dropdown-item" href="/<%= systemConfigs.prefixAdmin%>/users/form/<%=userInfo.id%>"><%=userInfo.username%></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<%=cleanedURL%>auth/change-password">Change Password</a>
                          </div>
                <% } else { %>
                    <a href="/<%= systemConfigs.prefixAdmin%>/auth/no-permission" class="mr-3"  data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="<%=uploadPathAvatar + userInfo.avatar %>" alt="LOGO" width="200" height="100"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/<%= systemConfigs.prefixAdmin%>/auth/no-permission"><strong style="text-align: right;"><%=userInfo.name%></strong></a>
                            <a class="dropdown-item" href="/<%= systemConfigs.prefixAdmin%>/auth/no-permission"><%=userInfo.username%></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<%=cleanedURL%>auth/change-password">Change Password</a>
                          </div>
                <% } %>
                </div>
            <% } %>
            <!-- Banner -->
        </div>

        
        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="<%=cleanedURL%>">
                        <img src="<%=uploadPathLogo + configInfo[0].info.logo %>" alt="LOGO" width="200" height="100">
                    </a>
                   
                    <ul class="main-menu" id="menu">
                        <li class="mega-menu-item">
                            <a href="<%=cleanedURL%>">Home</a>
                        </li>
    
                        <% itemsCategory.forEach((item, index) => { %>	

                            <li class="mega-menu-item">
                            <a href="<%=cleanedURL%>category/<%= item.id%>"><%= item.name%> </a>
                         </li>
                        <% }) %>
                        <li>
                            <a href="<%=cleanedURL%>about">Đặc tính</a>
                            <ul class="sub-menu">
                                <li><a href="<%=cleanedURL%>about">About Us</a></li>
                                <li><a href="<%=cleanedURL%>contact">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                    <% if (userInfo && Object.keys(userInfo).length > 0) { %>
                    <% if (userInfo.groups.groups_acp == 'yes') { %>
                        <a class="logo-stick text-right" href="/<%= systemConfigs.prefixAdmin%>/users/form/<%=userInfo.id%>">
                            <img  src="<%=uploadPathAvatar + userInfo.avatar %>" alt="LOGO" width="200" height="100">
                        </a>
                    <% } else { %>
                        <a class="logo-stick text-right" href="/<%= systemConfigs.prefixAdmin%>/auth/no-permission">
                            <img  src="<%=uploadPathAvatar + userInfo.avatar %>" alt="LOGO" width="200" height="100">
                        </a>
                    <% } %>
                    <% } %>
                </nav>
            </div>
        </div>	

    </div>
</header>