
<%
const url = `/${systemConfigs.prefixNews}/`;

const cleanedURL = url.replace(/\/+/g, '/');

const uploadPathAvatar = 'uploads/users/'

%>
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="/<%= systemConfigs.prefixAdmin%>/users/form/<%= userInfo.id%>" class="brand-link">

        <img src="/<%= uploadPathAvatar +  userInfo.avatar %>" alt="ZendVN Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><%= userInfo.name%></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="/<%= systemConfigs.prefixAdmin%>/users/form/<%= userInfo.id%>" class="d-block">Admin <%= userInfo.username%></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav name="item_selected" class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                        <a href="/<%= systemConfigs.prefixAdmin%>/dashboard" class="nav-link" data-active="dashboard">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" data-active="category">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Items<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/items" class="nav-link" data-active="index">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/items/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="category">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Users<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/users" class="nav-link" data-active="index">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/users/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" data-active="category">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Groups<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/groups" class="nav-link" data-active="index">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/groups/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="category">
                        <i class="nav-icon fas fa-thumbtack"></i>
                        <p>Category<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/category" class="nav-link" data-active="index">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/category/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="category">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>Article<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/article" class="nav-link" data-active="index">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin%>/article/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>            
                </li>
                <li class="nav-item">
                    <a href="/<%= systemConfigs.prefixAdmin%>/configuration/" class="nav-link" data-active="form">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Configuration</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/<%= systemConfigs.prefixAdmin%>/contact" class="nav-link" data-active="index">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p>Contact</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%=cleanedURL%>auth/change-password" class="nav-link" data-active="form">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Change Password</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%=cleanedURL%>auth/logout" class="nav-link" data-active="form">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Log Out</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>